# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://iuugpgnleuynxzrcvtxt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY_HERE

# Clipdrop
CLIPDROP_API_KEY=YOUR_CLIPDROP_API_KEY_HERE

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000